* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

input,
input:hover,
input:active,
input:focus,
textarea,
textarea:hover,
textarea:active,
textarea:focus,
select,
select:hover,
select:active,
select:focus {
  box-shadow: unset;
  outline: unset;
}

ul,
ol {
  list-style-type: none;
  list-style: none;
}

.img-responsive {
  max-width: 100%;
  display: block;
}

html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}
